.flexbox-item {

    margin: 10px;
    background: black;
    display: inline-flex;
    }
    
    .flexbox-item-1 {
    min-height: 200px;
    width: 50px;
    
    }

    .flexbox-item-2 {

        min-height: 200px;
        width: 50px;
 }

 .flexbox-item-3 {

min-height: 200px;
width: 50px;


 }