.flexbox-item {

    margin: 10px;
    background: black; }
    
.flexbox-item-1 {

min-height: 300px;
width: 100px;
display: inline-flex;

}

.flexbox-item-2 {

min-height: 300px;
width: 100px;
display: inline-flex;
    }