.one{
    display: inline-block;
    width: 140px;
    height: 50px;
    background: black;
    margin-left: 5px;


}

.two {
display: inline-block;
width: 70px;
height: 50px;
background: black;
margin-left: 9px ;

}

.rectangle {
display: inline-block;
width: 70px;
height: 300px;
background: black;
margin-left: 3px;

}
