.rectangle {
    display: inline-block;
    width: 90px;
    height: 120px;
    background: black;
    margin-left: 5px;
    }

    .square {

        display: inline-block;
        width: 56px;
        height: 120px;
        background: black;
margin-left: 5px;
    }