.header {
width: 240px;
height: 40px;
background: black;

}

.rod {

display: inline-block;
width: 120px;
height: 35px;
background: black;

}

.rectangle {
    width: 240px;
    height: 40px;
    background: black;}

    .log {
        display: inline-block;
        width: 120px;
        height: 35px;
        background: black; }

        .footer {
            width: 240px;
            height: 40px;
            background: black;}